@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.grid {
  display: grid;
  gap: $spacing-lg;

  &--4-cols {
    grid-template-columns: repeat(4, 1fr);

    @include tablet {
      grid-template-columns: repeat(2, 1fr);
    }

    @include mobile {
      grid-template-columns: 1fr;
    }
  }

  &--3-cols {
    grid-template-columns: repeat(3, 1fr);

    @include tablet {
      grid-template-columns: repeat(2, 1fr);
    }

    @include mobile {
      grid-template-columns: 1fr;
    }
  }

  &--gap-sm {
    gap: $spacing-sm;
  }

  &--gap-md {
    gap: $spacing-md;
  }

  &--gap-xl {
    gap: $spacing-xl;
  }
}
